<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: sketchtool 52.4 (67378) - http://www.bohemiancoding.com/sketch -->
    <title>71C153BE-0B5F-4E7D-894A-E1191C1E1A85</title>
    <desc>Created with sketchtool.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Home-Search" transform="translate(-1521.000000, -147.000000)" fill="#4A4A4A" fill-rule="nonzero">
            <g id="close-1" transform="translate(1521.000000, 147.000000)">
                <path d="M12,0 C5.372583,0 0,5.372583 0,12 C0,18.627417 5.372583,24 12,24 C18.627417,24 24,18.627417 24,12 C23.9924852,5.37569824 18.6243018,0.00751481356 12,0 Z M12,22.3636364 C6.27632168,22.3636364 1.63636364,17.7236783 1.63636364,12 C1.63636364,6.27632168 6.27632168,1.63636364 12,1.63636364 C17.7236783,1.63636364 22.3636364,6.27632168 22.3636364,12 C22.3636364,17.7236783 17.7236783,22.3636364 12,22.3636364 Z M16.3849091,7.59272727 C16.0594839,7.27963345 15.5419284,7.28939865 15.2285455,7.61454545 L12.126,10.8436364 L8.74909091,7.59272727 C8.54060497,7.37962349 8.23270841,7.29678833 7.94544022,7.37651657 C7.65817202,7.45624481 7.43700803,7.68591511 7.36817299,7.97598638 C7.29933795,8.26605766 7.39372875,8.57061033 7.61454545,8.77090909 L10.9685455,12 L7.61454545,15.2290909 C7.28924396,15.5423216 7.27923456,16.0598804 7.59218182,16.3854545 C7.74569369,16.5468573 7.95907377,16.6376573 8.18181818,16.6363636 C8.39341897,16.636228 8.59673835,16.5541183 8.74909091,16.4072727 L12.126,13.1563636 L15.2285455,16.3854545 C15.5419284,16.7106014 16.0594839,16.7203665 16.3849091,16.4072727 C16.7103654,16.0941944 16.720619,15.5766321 16.4078182,15.2509091 L13.2829091,12 L16.4078182,8.74909091 C16.720619,8.42336785 16.7103654,7.90580561 16.3849091,7.59272727 Z" id="Close"></path>
            </g>
        </g>
    </g>
</svg>