

.landing {
  .shopify-section.index-section{
    @include _1200max{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .page-width{
    padding-left: 15px;
    padding-right: 15px;
  }

  /* NAVIGATION */
  header.site-header .site-header__logo {
    margin-bottom: 30px;
  }
  .px-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  ul.site-nav li {
    display: inline-block;
  }

  @include _768min {
    ul.site-nav li:not(:last-child) a::after {
      content: '-';
      margin-left: 7px;
    }
    ul.site-nav li a {
      padding-left: 0px;
      padding-right: 7px;
    }
  }

  @include _992max {
    nav > .grid--table {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    nav .site-header__icons-wrapper {
      display: flex;
      justify-content: center;
    }
  }

  /* SEARCH FORM */
  .search-form__container,
  .search-bar__interior {
    background-color: transparent;
  }
  .search-form__container{
    justify-content: space-between;


  }
  #SearchDrawer.search-bar.drawer {
    display: flex;
    background-color: transparent;
    align-items: end;

    .search-holder-line {
      display: flex;
      height: 91px;
      width: 100%;
      border-top: 1px solid $color-darkgrey;
      border-bottom: 1px solid $color-darkgrey;
      padding: 20px 0 20px 0;
      background-color: $color-grey;
    }
  }
  .search-form__input-wrapper input {
    border: unset;
    padding-left: 36px;
    font-size: 22px;
    background-color: transparent;
    &:focus-visible {
      outline: unset;
    }
  }
  .search-form__input-wrapper {
    ::placeholder {
      color: transparent;
    }
  }

  .search-form__input-wrapper + .search-bar__submit {
    left: 0;
    right: unset;
  }

  /* SECTION TEXT COLUMNS WITH IMAGES */
  
  .feature-columns__wrapper-cols{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include _1200max{
      justify-content: space-evenly;
    }
    
  }
  .feature-columns__wrapper-col{
    display: flex;
    width: 370px;
    justify-content: center;
    padding: 0;
    @include _1200max{
      margin-bottom: 30px;    
    }
  }
  .feature-columns__col{
    display: flex;
    align-items: center;
    max-height: 100px;
    width: 100%;
    padding: 16px 20px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.1);

    .feature-row__image-wrapper {
      margin: 0 20px 0 7px;
    }

    .title-text-holder h3{
      font-family: $font-family-lato;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 28px;
      margin-bottom: 0;
    }
    p {
      max-width: 260px;
      color: $color-grey-text;
      font-family: Lato;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 18px;
    }
  } 
}
