.landing {
  .index-section {
    padding-top: 0px;
    padding-bottom: 50px;
  }

  .shopify-section.index-section {
    @include _1200max {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .page-width {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* NAVIGATION */
  header.site-header .site-header__logo {
    margin-bottom: 30px;
    background-color: $color-white;
  }
  header.site-header .site-header__logo a {
    background-color: $color-white;
  }
  .px-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  ul.site-nav li {
    display: inline-block;
  }
  ul.site-nav li.site-nav--active a.site-nav__link--active,
  ul.site-nav li a.site-nav__link:hover,
  ul.site-nav li a.site-nav__link:active,
  ul.site-nav li a.site-nav__link:focus {
    color: $color-orange;
    text-decoration: none;
  }
  .site-nav__link:focus .site-nav__label,
  .site-nav__link:not([disabled]):hover .site-nav__label {
    border-bottom-color: unset;
    border-bottom: unset;
  }
  ul.site-nav li.site-nav--active a.site-nav__link--active .site-nav__label,
  ul.site-nav li a.site-nav__link:hover .site-nav__label {
    border-bottom: unset;
    border-bottom-color: transparent;
  }

  ul.site-nav li a {
    color: $color-black;
    font-family: $font-family-Montserrat;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 18px;
    text-decoration: none;
    &:hover {
      color: $color-orange;
    }
  }

  @include _768min {
    ul.site-nav li:not(:last-child) a.site-nav__link::after {
      content: '-';
      margin-left: 7px;
      color: $color-black;
    }
    ul.site-nav li a {
      padding-left: 0px;
      padding-right: 7px;
    }
  }

  @include _992max {
    nav > .grid--table {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    nav .site-header__icons-wrapper {
      display: flex;
      justify-content: center;
    }
  }
  nav .site-header__icons-wrapper a {
    .site-header__cart-count.critical-hidden {
      background-color: $color-red;
    }
  }

  /* SEARCH FORM */
  .search-form__container,
  .search-bar__interior {
    background-color: transparent;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
  .search-form__container {
    justify-content: space-between;
  }
  #SearchDrawer.drawer {
    position: absolute;
  }
  #SearchDrawer.search-bar.drawer {
    display: flex;
    background-color: transparent;
    align-items: end;

    .search-holder-line {
      display: flex;
      height: 91px;
      width: 100%;
      border-top: 1px solid $color-darkgrey;
      border-bottom: 1px solid $color-darkgrey;
      padding: 20px 0 20px 0;
      background-color: $color-grey;
    }
  }
  .search-form__input-wrapper input {
    border: unset;
    padding-left: 36px;
    font-size: 22px;
    background-color: transparent;
    &:focus-visible {
      outline: unset;
    }
  }
  .search-form__input-wrapper {
    ::placeholder {
      color: transparent;
    }
  }

  .search-form__input-wrapper + .search-bar__submit {
    left: 0;
    right: unset;
  }

  /* SECTION TEXT COLUMNS WITH IMAGES */

  .feature-columns__wrapper-cols {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include _1200max {
      justify-content: space-evenly;
    }
  }
  .feature-columns__wrapper-col {
    display: flex;
    width: 370px;
    justify-content: center;
    padding: 0;
    @include _1200max {
      margin-bottom: 30px;
    }
  }
  .feature-columns__col {
    display: flex;
    align-items: center;
    min-height: 100px;
    height: auto;
    width: 100%;
    padding: 16px 20px;
    border-radius: $border-radius;
    background-color: #ffffff;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);

    .feature-row__image-wrapper {
      margin: 0 20px 0 7px;
    }

    .title-text-holder h3 {
      font-family: $font-family-lato;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 28px;
      @include _375max {
        line-height: 17px;
      }
      margin-bottom: 0;
    }
    p {
      max-width: 260px;
      color: $color-grey-text;
      font-family: Lato;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 18px;
    }
  }
  /* SLIDESHOW */

  .slideshow__overlay::before {
    opacity: 0;
  }
  .slideshow__text-content-list,
  .slideshow__btn-wrapper {
    text-align: left;
    padding-left: 33px;
  }
  .slideshow__btn-wrapper {
    a.btn.slideshow__btn {
      min-height: unset;
      background-color: $color-white;
      color: $color-black;
      border-radius: $border-radius;
      padding: 7px 20px;
      font-family: $font-family-Montserrat;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 24px;
      text-transform: capitalize;
    }
  }
  .slideshow__controls:hover .slideshow__arrows,
  .slideshow__controls:focus .slideshow__arrows,
  .slideshow__controls--hover .slideshow__arrows,
  .slideshow__arrows {
    background-color: transparent;
  }
  ul.slick-dots {
    li.slick-active {
      width: 14px;
      height: 14px;
      a,
      a::before {
        width: 14px;
        height: 14px;
      }
    }
  }

  /* SLIDESHOW SMALL  */
  .slideshow.slideshow--small {
    height: 355px;
    .slideshow__text-content-list {
      h2 {
        color: $color-white;
        font-family: $font-family-Montserrat;
        font-size: 60px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 72px;
        text-shadow: unset;
        margin: 0;
      }
      span.slideshow__subtitle {
        display: inline-block;
        max-width: 490px;
        color: $color-white;
        font-family: $font-family-Montserrat;
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 40px;
        text-shadow: unset;
      }
    }
  }

  /* SLIDESHOW MEDIUM */
  .slideshow.slideshow--medium {
    height: 515px;
    .slideshow__text-content-list {
      h2 {
        max-width: 447px;
        color: $color-white;
        font-family: $font-family-Montserrat;
        font-size: 60px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 72px;
      }
      span.slideshow__subtitle {
        display: inline-block;
        max-width: 355px;
        color: $color-white;
        font-family: $font-family-lato;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 28px;
      }
    }
  }

  /* COLLECTION LIST */

  /* horizontal-line-heading*/

  .hl-heading {
    width: 100%;
    margin: 30px 0 40px;
    text-align: center;
    line-height: 100%;
  }
  ul.grid.grid--view-items {
    overflow: hidden;
  }
  @include _576min {
    .hl-heading span {
      float: left;
      margin: 20px 0 -21px;
      border: 1px solid $color-black;
      width: 100%;
    }
  }

  @include _576max {
    .hl-heading {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .hl-heading h2 {
    font-family: $font-family-Montserrat;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 40px;
    text-transform: capitalize;
    display: inline;
    color: $color-black;
    background-color: $color-white;
    padding: 0 24px;
    width: auto;
    margin: auto;
    text-align: center;
  }

  /* FEATURE PRODUCTS IMAGE*/
  ul.grid.grid--view-items {
    display: flex;
    flex-wrap: wrap;
  }
  .product-card .grid-view-item__image-wrapper {
    margin: 0;
    position: relative;
    width: 100%;
    max-width: 270px !important;
    img.grid-view-item__image {
      max-width: 270px !important;
      max-height: 300px !important;
    }
  }

  ul.grid.grid--view-items {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 10px;
    @include _749max {
      justify-content: center;
    }
  }
  li.grid__item {
    margin-bottom: 10px;
    position: relative;
    @include _1200min {
      width: 24.82% !important;
    }
    @include _749max {
      width: 40% !important;
    }

    .label-collection-title {
      position: absolute;
      color: $color-white;
      z-index: 10;
      background: $color-green;
      right: 0;
      top: 20px;
      padding: 7px 4px 7px 13px;
      text-transform: uppercase;
    }
    .label-right-side-holder {
      position: absolute;
      right: -9px;
      top: 20px;
    }
  }

  li.grid__item a {
    text-decoration: none;
  }
  .product-card__title {
    border-bottom: unset;
  }
  .grid-view-item.product-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  .holder-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .grid-view-item__title.h4.product-card__title,
  .price__vendor {
    display: block;
    color: $color-black;
    font-family: $font-family-lato;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22px;
  }

  .grid-view-item__title.h4.product-card__title {
    padding: 12px 12px 0;
  }

  dl.price.price--listing.price--on-sale {
    padding: 12px 12px 12px 16px;
  }
  a.grid-view-item__image-container {
    //background-color: #FFFFFF;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
  }
  .price__sale {
    color: $color-black;
    font-family: $font-family-lato;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 28px;
  }
  .price__badges {
    display: none;
  }

  /* COLLECTION LIST */
  .collection-list__holder {
    padding: 0 40px;
    @include _576max {
      padding: 0 10px;
    }
    ul.collection-list__wrapper {
      margin-left: 0;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      @include _1200max {
        justify-content: space-evenly;
      }
      li {
        padding: 0;
        margin-bottom: 30px;
      }
    }
  }
  li.collection-list__item {
    position: relative;
    height: 370px;
    width: 300px;
    @include _375max {
      width: 230px;
    }
    box-shadow: 0 2px 32px 0 rgba(0, 0, 0, 0.1);
    a.collection-grid-item__link {
      width: 300px;
      height: 370px;
      @include _375max {
        width: 230px;
      }
      .collection-grid-item__title-wrapper::before {
        background-color: unset;
      }
      background-color: unset;
      .collection-grid-item__title-wrapper {
        opacity: 1;
        .collection-grid-item__title {
          background-color: $color-orange;
          text-align: left;
          top: unset;
          bottom: -5px;
          padding: 3px 15px;
          width: fit-content;
          color: $color-white;
          font-family: $font-family-lato;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 0;
          line-height: 28px;
        }
      }
    }
    .label-left-side-holder {
      position: absolute;
      bottom: 20px;
      left: -9px;
    }
  }

  /* COLLECTION LIST TABS */

  .collection-list-tabs {
    padding: 0;
    margin-top: -50px;
  }

  #id0.tabcontent {
    display: block;
  }
  .collection-list-tabs .tabcontent .collection-list__wrapper {
    justify-content: space-around;
  }

  /* Style the tab */
  .tab {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }

  /* Style the buttons inside the tab */
  .tab div {
    width: 33.333%;
    display: flex;
    justify-content: center;
  }

  .tab button {
    margin-bottom: 16px;
    color: $color-grey-text;
    font-family: $font-family-Montserrat;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 18px;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-bottom: 2px solid $color-darkgrey;
    width: 100%;
  }

  /* Create an active/current tablink class */
  .tab button:hover,
  .tab button.active {
    color: $color-orange;
    border-bottom: 2px solid $color-orange;
    padding: 22px;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 0;
    border-top: none;
  }

  /* MEGA MENU */
  .img-title-holder {
    display: none;
  }

  button.site-nav__link.site-nav__link--main.site-nav__link--button {
    color: $color-black;
    font-family: $font-family-Montserrat;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 18px;
    text-decoration: none;
    border-bottom: unset;
    padding-bottom: 3px;
  }

  li.site-nav--has-dropdown.site-nav--has-centered-dropdown.site-nav--active-dropdown {
    button[aria-expanded='true'].site-nav__link.site-nav__link--main.site-nav__link--button
      span {
      border-bottom: 1px solid $color-black;
      padding: 3px 0;
    }
  }

  li.site-nav--has-dropdown.site-nav--has-centered-dropdown {
    button.site-nav__link.site-nav__link--main.site-nav__link--button.site-nav__link--active
      span {
      border-bottom: 1px solid transparent;
      padding: 3px 0;
    }
  }

  .site-nav__childlist {
    padding: 32px 85px;
    .site-nav__childlist-grid {
      display: flex;
      justify-content: space-between;

      li.site-nav__childlist-item:nth-child(1) {
        flex: 20%;
        a.site-nav__link.site-nav__child-link.site-nav__child-link--parent {
          margin-bottom: 32px;
        }
        ul {
          li {
            width: 100%;
            margin-bottom: 16px;
          }
        }
      }
      li.site-nav__childlist-item:nth-child(2) {
        flex: 70%;
        a.site-nav__link.site-nav__child-link.site-nav__child-link--parent {
          margin-bottom: 26px;
          font-size: 16px;
          font-weight: 700;
          letter-spacing: 0;
          line-height: 28px;
        }
        ul {
          display: flex;
          justify-content: space-between;
          li {
            width: 30%;
          }
        }
        .img-title-holder {
          display: block;
          position: relative;
          span,
          span:hover {
            display: block;
            height: 35px;
            position: absolute;
            background-color: $color-orange;
            bottom: 28px;
            text-align: left;
            padding: 3px 15px;
            width: fit-content;
            color: $color-white;
            font-family: Lato, sans-serif;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0;
            line-height: 28px;
          }

          .label-left-side-holder {
            position: absolute;
            bottom: 20px;
            left: -9px;
          }
        }
        .img-title-holder + span {
          display: none;
        }
      }
      a.site-nav__link.site-nav__child-link.site-nav__child-link--parent:after,
      .site-nav__childlist-item li a.site-nav__link:after {
        content: unset;
        margin-left: unset;
        color: unset;
      }
    }
    a.site-nav__link.site-nav__child-link.site-nav__child-link--parent {
      border-bottom: 1px solid $color-black;
      width: fit-content;
      color: $color-black;
      font-family: $font-family-Montserrat;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 24px;
    }
  }
}
/* END Landing HOME PAGE */
