$color-black: #00222c;
$color-orange: #f39600;
$color-grey: #f7f7f7;
$color-darkgrey: #E5E5E5;
$color-grey-text: #9B9B9B;

$font-family-lato: Lato, sans-serif;
$font-family-Montserrat: Montserrat, sans-serif;