.article__grid-image-wrapper,
.article__grid-image-container{
    width:unset!important;
    max-width:unset!important;
}

.article__list-image-wrapper { 
    text-align: center; 
    width: 100% !important; 
}
